repos:
  - repo: local
    hooks:
      - id: format-py-files
        name: format files
        entry: bash
        language: system
        files: \.(py)$
        pass_filenames: false
        args:
          - -c
          - "fd -e py -x ruff format -q"
      - id: typecheck
        name: typecheck
        entry: uv run python mo_net/scripts/typecheck.py
        language: system
        pass_filenames: true
        files: \.(py)$
        stages: [pre-commit]
        require_serial: true
